@charset "utf-8";


/*--------------------- navbar---------------------- */

#burger-toggle {
  position: absolute;
  appearance: none;
  opacity: 0;
}

#burger-toggle:checked ~ .menu {
  opacity: 1;
  visibility: visible;
}

#burger-toggle:checked ~ .menu .menu-nav-link span div,
#burger-toggle:checked ~ .menu img,
#burger-toggle:checked ~ .menu .title p {
  transform: translateY(0);
  opacity: 1;
  transition: 1.2s 0.1s ease-in-out;
          
}

#burger-toggle:checked ~ .menu .images .image-link:nth-child(1) img {
	transition-delay: 0.18s;
}

#burger-toggle:checked ~ .menu .image-link:nth-child(2) img {
	transition-delay: 0.26s;
}

#burger-toggle:checked ~ .menu .image-link:nth-child(3) img {
	transition-delay: 0.34s;
}

#burger-toggle:checked ~ .menu .image-link:nth-child(4) img {
	transition-delay: 0.42s;
}

#burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
	transform: translateY(.8em) rotate(225deg);
}

#burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
	transform: scaleX(0);
}

#burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
	width: 50%;
	transform: translateY(-.8em) rotate(-225deg) ;
}

.burger-menu {
	position: fixed;
	top: 5vh;
	left: 5vw;
	z-index: 10000;
	/* display: block; */
	width: 4em;
	height: 4em;
	cursor: pointer;
}

.burger-menu .line {
	position: absolute;
	left: 25%;
	height: 3px;
	background: rgba(43, 61, 79, 0.7);
	border-radius: 10px;
	overflow: hidden;
	transition: 0.5s;
}

.burger-menu .line:nth-child(1) {
	top: 30%;
	width: 50%;
}

.burger-menu .line:nth-child(2) {
	top: 50%;
	width: 50%;
}

.burger-menu .line:nth-child(3) {
	top: 70%;
	width: 30%;
}

.burger-menu .line::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: var(--primary-color-darker);*/
	background: pink;
	-webkit-transform: translateX(-100%);
		  transform: translateX(-100%);
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

.burger-menu .line:nth-child(2)::after {
	-webkit-transition-delay: 0.1s;
		  transition-delay: 0.1s;
}

.burger-menu .line:nth-child(3)::after {
	-webkit-transition-delay: 0.2s;
		  transition-delay: 0.2s;
}

.burger-menu:hover .line::after {
	-webkit-transform: translateX(0);
		  transform: translateX(0);
}

.menu {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1a1e23;
	opacity: 0;
	overflow-x: hidden;
	visibility: hidden;
	transition: 0.3s;
}

/* @media screen and (max-width: 750px) {
	.menu {
		display: block;
  	}
} */

.menu-nav {
	display: flex;
	/*flex-wrap: wrap; */
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}

/* @media screen and (max-width: 750px) {
	.menu-nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
  	}
} */

.menu-nav-item {
	flex: 1;
}

.menu-nav-link {
	position: relative;
	display: inline-flex;
	font-size: 2rem;
	color: white;
	text-decoration: none;
}

.menu-nav-link span {
	overflow: hidden;
}

.menu-nav-link span div {
	-webkit-transform: translateY(102%);
		  transform: translateY(102%);
}

/* .menu-nav-link::after {
	position: absolute;
	content: "";
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: var(--primary-color);
	-webkit-transform: scaleX(0);
		  transform: scaleX(0);
	-webkit-transform-origin: right;
		  transform-origin: right;
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
}

.menu-nav-link:hover::after {
	-webkit-transform: scaleX(1);
		  transform: scaleX(1);
	-webkit-transform-origin: left;
		  transform-origin: left;
} */

.menu .gallery {
	margin-top: 60px;
	text-align: center;
}

.menu .title {
	font-size: 24px;
	color: white;
	overflow: hidden;
}

.menu .title p {
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	transform: translateY(102%);
	opacity: 0;
	transition: 00.25s;
}

.menu .images {
	margin-top: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	  flex-wrap: wrap;
}

/* @media screen and (max-width: 750px) {
	.menu .images {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
} */

.menu .images .image-link {
	width: 15vw;
	margin: 0 12px;
	overflow: hidden;
	transition: 0.5s;
}

/* @media screen and (max-width: 750px) {
	.menu .images .image-link {
		width: 40vw;
		margin: 0 12px 12px 0;
	}
} */

.menu .images .image-link .image {
	position: relative;
	transition: 0.5s;
}

.menu .images .image-link .image::before {
	position: absolute;
	content: attr(data-label);
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: white;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: 0.4s;
}

.menu .images .image-link:hover .image::before {
	opacity: 1;
}

.menu .images .image-link:hover .image {
	transform: scale(1.2);
}

.menu .images img {
	height: 250px;
	transform: translateY(102%);
}

