@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

*{
	margin: 0;
	padding: 0;
}

/* ------------- Hero Image -------------------------------- */

.hero{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.container0{
	position: absolute;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1400px;
	z-index: 2;	
	font-size: 90px;
	font-family: 'Akronim', cursive;
	animation: glitch 1.5s ease-in infinite;
	color: rgb(255, 255, 255);
}

.container0 :nth-child(1){
	position: relative;
	left: 0;
}

.container0 :nth-child(2){
	position: relative;
	left: 0;
}

@keyframes glitch{
	2%,64%{
	  transform: translate(5px,0) skew(0deg);
	}
	4%,60%{
	  transform: translate(-4px,0) skew(0deg);
	}
	62%{
	  transform: translate(0,0) skew(16deg); 
	}
  }


  .container0 div:before,
  .container0 div:after{
	content: attr(title);
	position: absolute;
	left: 0;
	color: rgb(255, 255, 255);
  }
  
  .container0 div:before{
	animation: glitchTop 2s linear infinite;
	clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
	
  }
  
  @keyframes glitchTop{
	2%,64%{
	  transform: translate(2px,-2px);
	}
	4%,60%{
	  transform: translate(-2px,2px);
	}
	62%{
	  transform: translate(13px,-1px) skew(-13deg); 
	}
  }
  
  .container0 div:after{
	animation: glitchBotom 1.5s linear infinite;
	clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
	
  }
  
  @keyframes glitchBotom{
	2%,64%{
	  transform: translate(-4px,0);
	}
	4%,60%{
	  transform: translate(-4px,0);
	}
	62%{
	  transform: translate(-30px,8px) skew(21deg); 
	}
  }

.hero img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*--------------- Main --------------------------*/

/*.content_bg{
	height: 475vh;
	width: auto;
	background-color: #0d1222;
}

.content{
	position: relative;
	top: 5%;
	left: 10%;
	height: 80%;
	width: 80%;
	background-color: aliceblue;
}*/

.content_bg{
	height: 100%;
	width: auto;
	padding: 8% 10% ;
	background-color: #0d1222;
}

.content{
	position: relative;
	height: 100%;
	width: 100%;
	background-color: aliceblue;
}

/*------------------- Heading --------------------*/

.heading_center{
	height: 180px;
	/* background-color: rgb(165, 180, 250); */
	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
	font-size: 25px;
	padding: 3% 0 40px;
}

.border{
	padding-top: 55px;
	position: relative;
	width: 90%;
	border-bottom: 2px solid rgb(0, 0, 0);
}

/*------------------ Stats------------- */

.stats{
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	gap: 60px;
	align-items: center;
	margin: 20px 0px;
	left: 10%;
	width: 70%;
	color: white;
	height: 70px;
	background-color: #0d1222;
	overflow: hidden;
	margin-bottom: 70px;
	font-size: 20px;
	padding: 0px 50px;
}

.stats >*{
	position: relative;
	top: 0px;
	padding: 0 10px;
}

/*----------------- Synopsis -------------------------*/

.container1{
	width: 85%;
	display: flex;
	flex-direction: row;
	gap: 20px;
	padding: 20px 80px 20px;
	font-size: 18px;
}
.container1 img{
	transition:filter 1s ease;
}

.container1 img:hover{
	filter: grayscale(100%);
}

.container1 :first-child{
	width: 32%;
	padding-right: 40px;
}

.container1 :nth-child(2){
	
	width: 68%;
	border-left: 1px solid black;
	padding-left:  10% ;
	padding-top: 5%;
	/* border: 1px red solid; */
}

/*--------------------- Voice Actor ------------------*/

.voice_act{
	margin: 70px 85px 40px;
}
.container2{
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	/* height: 150px; */
	/* background-color: antiquewhite; */
	margin: 20px 85px 90px;
}

.container2 >*{	
	height: 70px;
	display: flex;
	flex-direction: row;
	/* border: 1px solid red; */
	/* background-color: aqua; */
	/* background-color: #1a1e23; */
}

/*.container2 div:nth-child(1),.container2 div:nth-child(4) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.301);
	border-top: 1px solid rgba(0, 0, 0, 0.301);
	background-color: #0d1222;
}*/

.container2 div{
	background-color: #0d1222;
}


/*.container2 div:nth-child(2),.container2 div:nth-child(3) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.301);
	border-top: 1px solid rgba(0, 0, 0, 0.301);
	background-color: rgb(243, 224, 224);
}*/

.flex{
	align-items: center;
	justify-content: space-between;
	height: auto;
	overflow: hidden;
	border-radius: 20px;
	/*border: 2px solid #0d1222;*/
}

.flex img{
	height: 110px;
	/*width: 60px;*/
	object-fit: cover;
	/*border: 1px solid rgba(0, 0, 0, 0.301);*/
	/*padding: 2px;*/
}

.flex p a{
	text-decoration: none;
	color: white;
	font-size: 17px;
}

.flex p a:hover{
	text-decoration: underline;
	color: white;
}

/*------------------- Promotional Videos --------------*/

.video{
	margin: 80px 85px 30px;
}

.container3{
	display: flex;
	width: 86%;
	position: relative;
	left: 7%;
	justify-content: space-between;
	padding: 0 0 70px;
}

/*------------------- Playlist ----------------------------*/

.audioheading{
	margin: 0px 85px 30px;
}

.audio{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 86%;
	position: relative;
	overflow: hidden;
	border-radius: 30px;
	left: 6%;
	margin: 10px;
	/*padding-bottom: 5%;*/
	color: white;
}

.col{
	background-color: #0d1222;
	/*padding: 10px 10px 10px 40px;*/
	padding: 2% 0% 2% 4%;
	display: flex;
	flex-direction: column;
	width: 50%;
	/*border: 2px solid red;*/
}

.col h2{
	padding: 3px 5px 10px;
	width: 80%;
	border-bottom: 1px solid white;
}

.col div{
	display: flex;
	flex-direction: row;
	gap: 5px;
	padding: 10px 5px;
}

.btn{
	border: none;
	background: none;
}

.audio p{
	font-size: 18px;
	padding-top: 1%;
}

/*---------------------- Slideshow ---------------------*/

.container4{
    /* height: 90vh; */
	width: 100%;
	overflow: hidden;
	position: relative;
	/* left: 10%; */
	/* top:10%; */
}

.slider{  
    /* min-height: 20vw; */
    /* min-width: 500px; */
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
}

.slider img{
	object-fit: cover;
	width: 100%;
	height: auto;
}

.slider1{    
    position: relative;
    left: 0%;
    animation: slider1 20s ease-in-out 5s infinite running;
}
    
.slider2{
    position: relative;
    left: -200%;
    animation: slider2 20s ease-in-out 5s infinite running;  
}

.slider3{
    position: relative;
    left: -300%;
    animation: slider3 20s ease-in-out 5s infinite running;   
}

.slider4{
    position: relative;
    left: -400%;
    animation: slider4 20s ease-in-out 5s infinite running;   
}

@keyframes slider1{
   20%{
       left: 0%;
   }
   30%{
       left: 100%;
   }
   100%{
        left: 100%;
   }
    
}
@keyframes slider2{
    20%{
        left: -200%;
    }
    30%{
        left: -100%;
    }
    50%{
        left: -100%;
    }
    60%{
        left: 0%;
    }
    100%{
         left: 0%;
    }
    
}
@keyframes slider3{
    50%{
        left: -300%;
    }
    60%{
        left: -200%;
    }  
    80%{
        left: -200%;
    }
    90%{
        left: -100%;
    }  
    
    100%{
        left: -100%;
    }     
}

@keyframes slider4{
    80%{
        left: -400%;
    }  
    
    90%{
        left: -300%;
    }  
    100%{
        left: -300%;
    }  
}
